/* Module-specific colors */
@define-color workspaces-color @foreground;
@define-color workspaces-focused-bg @green;
@define-color workspaces-focused-fg @cyan;
@define-color workspaces-urgent-bg @red;
@define-color workspaces-urgent-fg @black;

/* Text and border colors for modules */
@define-color mode-color @orange;
@define-color mpd-color @magenta;
@define-color weather-color @magenta;
@define-color playerctl-color @magenta;
@define-color clock-color @cyan;
@define-color cpu-color @yellow;
@define-color memory-color @green;
@define-color temperature-color @yellow;
@define-color temperature-critical-color @red;
@define-color battery-color @cyan;
@define-color battery-charging-color @green;
@define-color battery-warning-color @yellow;
@define-color battery-critical-color @red;
@define-color network-color @orange;
@define-color network-disconnected-color @yellow;
@define-color pulseaudio-color @red;
@define-color pulseaudio-muted-color @orange;
@define-color backlight-color @yellow;
@define-color disk-color @blue;
@define-color uptime-color @green;
@define-color updates-color @orange;
@define-color quote-color @green;
@define-color idle-inhibitor-color @magenta;
@define-color idle-inhibitor-active-color @magenta;



* {
    /* Base styling for all modules */
    border: none;
    border-radius: 20;
    font-family: "FiraCode Nerd Font";
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: transparent;
    color: @foreground;
}

#window {
  background-color: @background;
  padding: 0 20px;
}

/* Common module styling with border-bottom */
#mode, #mpd, #custom-weather, #custom-playerctl, #clock, #cpu,
#memory, #temperature, #battery, #network, #pulseaudio,
#backlight, #disk, #custom-uptime, #custom-updates, #custom-quote,
#idle_inhibitor, #tray {
    padding: 0 10px;
    /* margin: 0 2px; */
}

#workspaces {
  background-color: @background;
  padding: 1px 5px;
}

/* Workspaces styling */
#workspaces button {
    padding: 5px 7px;
    background-color: transparent;
    color: @workspaces-color;
    margin: 0 2px;
}

#workspaces button.active {
    font-weight: 900;
    color: @workspaces-focused-fg
}

#workspaces button:hover {
    background-color: @background-light;
    box-shadow: inherit;
    color: @foreground;
}

#workspaces button.urgent {
    background-color: @workspaces-urgent-bg;
    color: @background;
}

/* Module-specific styling */
#mode {
    background-color: @mode-color;
    color: @background;
}

#mpd {
    background-color: @mpd-color;
    color: @background;
}

#mpd.disconnected,
#mpd.stopped {
    background-color: transparent;
    color: @background;
}

#custom-weather {
    background-color: @weather-color;
    color: @background;
}

#custom-playerctl {
    background-color: @playerctl-color;
    color: @background;
}

#custom-playerctl.Playing {
    background-color: @cyan;
    color: @background;
}

#custom-playerctl.Paused {
    background-color: @orange;
    color: @background;
}

#clock {
    background-color: @clock-color;
    color: @background;
}

#cpu {
    background-color: @cpu-color;
    color: @background;
}

#memory {
    background-color: @memory-color;
    color: @background;
}

#temperature {
    background-color: @temperature-color;
    color: @background;
}

#temperature.critical {
    background-color: @temperature-critical-color;
    color: @background;
}

#battery {
    background-color: @battery-color;
    color: @background;
}

#battery.charging, #battery.plugged {
    background-color: @battery-charging-color;
    color: @background;
}

#battery.warning:not(.charging) {
    background-color: @battery-warning-color;
    color: @background;
}

#battery.critical:not(.charging) {
    background-color: @battery-critical-color;
    color: @background;
}

#network {
    background-color: @network-color;
    color: @background;
}

#network.disconnected {
    background-color: @network-disconnected-color;
    color: @background;
}

#pulseaudio {
    background-color: @pulseaudio-color;
    color: @background;
}

#pulseaudio.muted {
    background-color: @pulseaudio-muted-color;
    color: @background;
}

#backlight {
    background-color: @backlight-color;
    color: @background;
}

#disk {
    background-color: @disk-color;
    color: @background;
}

#custom-uptime {
    background-color: @uptime-color;
    color: @background;
}

#custom-updates {
    background-color: @updates-color;
    color: @background;
}

#custom-quote {
    background-color: @quote-color;
    color: @background;
}

#idle_inhibitor {
    background-color: @background;
    color: @foreground;
    padding: 0 20 0 15;
}

#idle_inhibitor.activated {
    background-color: @idle-inhibitor-active-color;
    color: @background;
}

#tray {
    background-color: transparent;
    padding: 0 10px;
    margin: 0 20px 0 0;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
}

#user {
  background-color: @background;
  color: @cyan;
  padding: 0 10px;
  margin: 0 0 0 10px;
}
